.projects {
    width: 100%;
    background: $projectsBg;
    &__container {
        padding: 8rem 0 8rem calc(8rem - 16px);
        margin: 0 auto;
        width: 1087px;
    }

    &__header {
        padding-bottom: 4rem;

        &__desription {
            text-decoration: none;
            font-style: normal;
            font-weight: 300;
            font-size: 1.25rem;
            line-height: 2.25rem;
            color: $gray;
        }
        &__title {
            padding-bottom: 1rem;
            font-style: normal;
            font-weight: 600;
            font-size: 2rem;
            padding-left: 22px;
            line-height: 2.75rem;
        }
    }
}
.projects__list {
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
}
.projects-list {
    &__img {
        width: 48px;
        height: 48px;
        margin: 3rem 0 0 3rem;
    }
    &__link--description {
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 2rem;
        margin: 0.5rem 0 0 3rem;
    }
    &__footer {
        height: 64px;
        width: 100%;
        align-self: flex-end;
        background: $projectsBg;
        margin-top: 3rem;
        display: flex;
        flex-direction: row-reverse;
        &--demo {
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 1.125rem;
            line-height: 2rem;
            padding: 0;
            border: none;
            background: none;
            color: #0593fb;
            display: flex;
            justify-content: center;
            align-items: center;

            &::before {
                display: inline-block;
                content: " ";
                background-image: url("../../assets/img/demo-icon.png");
                width: 24px;
                height: 24px;
                margin: 0 0.5rem 0 0;
            }
            &::after {
                content: " ";
                display: flex;
                height: 32px;
                width: 2px;
                background: #cbd2d9;
                transform: matrix(-1, 0, 0, 1, 0, 0);
                margin: 0 3rem 0 3rem;
            }
        }
        &--script {
            font-family: Poppins;
            font-style: normal;
            background: none;
            font-weight: 500;
            font-size: 1.125rem;
            line-height: 2rem;
            padding: 0;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 48px 0 0;

            color: #0593fb;
            &::before {
                content: " ";
                display: inline-block;
                background-image: url("../../assets/img/script-icon.svg");
                width: 24px;
                height: 24px;
                margin: 0 0.5rem 0;
            }
        }
    }

    &__link {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 2.25rem;
        grid-area: content;
        margin: 1rem 0 0 3rem;
        text-decoration: none;
    }
    &__item {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 100%;

        max-height: 300px;
        background: #ffffff;
        box-shadow: 0px 6px 16px rgba(24, 41, 67, 0.09);
        border-radius: 8px;
        list-style: none;
    }
}
