
$yellow: #f9c802;
$background: #171f3f;
$big-stone: #171f3f;
$UI0: #ffffff;
$projectsBg: #f5f7fa;
$UI01: #cbd2d9;
$UI02: #cbd2d9;
$gray: #52606d;
$primary01: #e6f5ff;
$primary02: #64beff;
$blue: #0593fb;
$primary04: #076fbb;
$voilet: #653cad;
$green: #06c847;
$blue: #2251cc;
$maxwidth: 1187px;
